/* the styles for the HTML elements */

.roomlist html{
    
    background-color: rgb(192, 192, 192);
}
.roomlist body {
    font-family: Arial, Helvetica, sans-serif;
    width: 760px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
/*    border: 1px solid black;*/
}
.roomlist header{
/*    border-bottom: 2px solid black;*/
    padding: .5em 0;
}
.roomlist header h1 
{
    color: black;
}
.roomlist main{

}
.roomlist aside {
    float: left;
    width: 150px;
}
.roomlist section {
    margin-left: 150px;
    width: 800px;
}
.roomlist footer{
    clear: both;
/*    border-top: 2px solid black;*/
}
.roomlist footer p{
    text-align: right;
    font-size: 80%;
}
.roomlist h1 {
    font-size: 150%;
    margin: .5em 0;
}
.roomlist h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
.roomlist h1, h2 {
    color: rgb(208, 133, 4);
}
.roomlist ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
.roomlist li {
    padding-bottom: 0.5em;
}
.roomlist a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
.roomlist a:hover {
    color: rgb(208, 133, 4);
}

.roomlist td:hover {background-color: #ddd;}

.roomlist th{
padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FF7133;
  color: white;

}


.roomlist br {
    clear: left;
}
.roomlist table {
/*    border: 1px solid black;*/
    border-collapse: collapse;
    margin-bottom: 1em;
    margin-left: 250px;
}
.roomlist td, th {
/*    border: 1px dashed black;*/
     border: 1px solid #ddd;
  padding: 8px;
}
.roomlist form {

}
/* the styles for classes */
.roomlist .right {
    text-align: right;
}
.roomlist .first_paragraph {
    margin-top: 0;	
}
.roomlist .last_paragraph {
    margin-bottom: 2em;	
}
/* the styles for the div tags that divide the page into sections */
.roomlist #left_column {
    float: left;
    width: 150px;
    text-align: left;
}
.roomlist #right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: 2em;
}
/* Additional styles for the Product Manager application */
.roomlist #add_product_form {
    margin: .5em 0;
}
.roomlist #add_product_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
.roomlist #add_product_form input {
    float: left;
}
.roomlist #add_product_form input[text] {
    width: 15em;
}

.form-control
{
    font-family: "Roboto", sans-serif;
  outline: 0;
  width: 200px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form
{
   margin-top: 200px;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*.form:hover {background-color: #ddd;
opacity: 0%;
}*/

.button
{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 200px;
  border: 0;
  padding: 15px;
  padding-left: 110px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.div2
{
    padding-left: 550px;
    background-color: #FF7133;
    opacity: 1;
   margin-top: 310px;
    
}

